@use './colors' as colors;

//Primary, secondary, danger, success, info, dark, light
$theme: (
    primary: colors.$dark-blue,
    secondary: colors.$dark-gray,
    danger: colors.$bright-red,
    success: colors.$forest-green,
    info: colors.$bright-blue,
    dark: colors.$white,
    light: colors.$black
);

//Lists
$list-bullet: disc;
$list-number: decimal;
$list-alpha-lower: lower-alpha;
$list-alpha-upper: upper-alpha;
$list-roman-lower: lower-roman;
$list-roman-upper: upper-roman;
