// Utility Text Colors
.text-primary { color: $color-primary !important; }
.text-secondary { color: $color-secondary !important; }
.text-accent { color: $color-accent !important; }
.text-danger { color: $color-danger !important; }
.text-light { color: $color-light !important; }
.text-dark { color: $color-dark !important; }

// Utility Background Colors
.bg-primary { background-color: $color-primary !important; }
.bg-secondary { background-color: $color-secondary !important; }
.bg-accent { background-color: $color-accent !important; }
.bg-danger { background-color: $color-danger !important; }
.bg-light { background-color: $color-light !important; }
.bg-dark { background-color: $color-dark !important; color: $color-light !important; }

